.confetti {
  background-color: rgb(255 0 150 / .8);
  border-radius: 50%;
  height: 10px;
  pointer-events: none;
  position: absolute;
  width: 10px;
  z-index: 9999;
}

.confetti:nth-child(3n) {
  background-color: rgb(255 204 0 / .8);
}

.confetti:nth-child(4n) {
  background-color: rgb(0 150 255 / .8);
}

.confetti:nth-child(5n) {
  background-color: rgb(150 255 0 / .8);
}
